
.floatingIcon {
    bottom: 30px;
    right: 45px;
    position: fixed;
    background-color: #ffb263;

}

.floatingIcon:hover {
    background-color: #ff9a36;
}

.poweredByBadge {
    font-size: 0.8rem;
}